labextension/lib/
nbextension/lib/
nbextension/embed/
*/node_modules/
npm-debug.log
*.egg-info/
build/
dist/
MANIFEST

# Compiled javascript
jupyterlab_json/__pycache__/
jupyterlab_json/static/

# OS X
.DS_Store
